.heading {
  color: white;
  font-size: 2rem;
  margin-left: 2vw;
  color: #878787;
}

.heading {
  color: #878787;
  font-family: Roboto;
  font-weight: 500;
  letter-spacing: 0.6px;
  font-size: 1.3rem;
  margin-left: 4.1vw;
}
